.about-section {
    .banner-section {
        background-color: #d75f041a;
        .heading-div {
            font-family: Avenir;
            font-size: 70px;
            font-weight: 800;
            line-height: 90px;
            letter-spacing: 0em;
            padding: 112px 115px;
            @media (max-width: 1600px) {
                font-size: 48px;
                line-height: 72px;
                padding: 48px;
            }
            @media (max-width: 1024px) {
                font-size: 36px;
                line-height: 48px;
                padding: 48px 16px;
            }
            .colored-heading {
                color: #d75f04;
            }
        }
        .outer-div {
            display: flex;
            align-items: center;
            gap: 39px;
            @media (max-width: 1024px) {
                flex-direction: column;
                align-items: flex-start;
            }
            .img-outer-div {
                display: flex;
                .img1-div {
                    max-width: 625px;
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .img2-div {
                    max-width: 443px;
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .content-div {
                max-width: 762px;
                width: 100%;
                font-family: Avenir;
                font-size: 30px;
                font-weight: 400;
                line-height: 40px;
                letter-spacing: 0em;
                @media (max-width: 1600px) {
                    font-size: 24px;
                    line-height: 32px;
                }
                @media (max-width: 1024px) {
                    font-size: 18px;
                    line-height: 32px;
                }
                li {
                    margin-bottom: 80px;
                }
            }
        }
    }
    .numbering-section {
        padding: 96px 115px 0;
        @media (max-width: 1600px) {
            padding: 48px 32px 0;
        }
        @media (max-width: 1024px) {
            padding: 32px 16px 0;
        }
        .outer-div {
            max-width: 1691px;
            width: 100%;
            margin: 0 auto;
            background-color: #d75f040d;
            padding: 178px 217px 158px;
            @media (max-width: 1600px) {
                padding: 48px 32px;
            }
            @media (max-width: 1024px) {
                padding: 32px 16px;
            }
            .number-div {
                font-family: Avenir;
                font-size: 200px;
                font-weight: 800;
                line-height: 150px;
                letter-spacing: 0em;
                color: #000;
                margin-bottom: 80px;
                @media (max-width: 1600px) {
                    font-size: 100px;
                    line-height: 120px;
                    margin-bottom: 32px;
                }
                @media (max-width: 1024px) {
                    font-size: 70px;
                    line-height: 90px;
                    margin-bottom: 24px;
                }
            }
            .heading-div {
                font-family: Avenir;
                font-size: 70px;
                font-weight: 800;
                line-height: 90px;
                letter-spacing: 0em;
                color: #000;
                margin-bottom: 50px;
                @media (max-width: 1600px) {
                    font-size: 48px;
                    line-height: 72px;
                    margin-bottom: 32px;
                }
                @media (max-width: 1024px) {
                    font-size: 36px;
                    line-height: 48px;
                    margin-bottom: 24px;
                }
                span {
                    color: #d75f04;
                }
            }
            .secondary-heading-div {
                font-family: Avenir;
                font-size: 30px;
                font-weight: 800;
                line-height: 45px;
                letter-spacing: 0em;
                text-align: left;
                text-transform: uppercase;
                margin-bottom: 42px;
                @media (max-width: 1600px) {
                    font-size: 24px;
                    line-height: 32px;
                }
                @media (max-width: 1024px) {
                    font-size: 20px;
                    line-height: 30px;
                }
            }
            .text-div {
                font-family: Avenir;
                font-size: 30px;
                font-weight: 350;
                line-height: 45px;
                letter-spacing: 0em;
                text-align: left;
                @media (max-width: 1600px) {
                    font-size: 24px;
                    line-height: 32px;
                }
                @media (max-width: 1024px) {
                    font-size: 18px;
                    line-height: 32px;
                }
            }
            .btn-div {
                margin-top: 60px;
                max-width: 667px;
                width: 100%;
                @media (max-width: 1024px) {
                    max-width: 480px;
                }
                button {
                    width: 100%;
                    background-color: #d75f04;
                    color: white;
                    border: none;
                    outline: none;
                    font-family: Avenir;
                    font-size: 30px;
                    font-weight: 800;
                    line-height: 47px;
                    letter-spacing: 0em;
                    padding: 24px;
                    @media (max-width: 1600px) {
                        font-size: 20px;
                        line-height: 32px;
                    }
                    @media (max-width: 1024px) {
                        font-size: 16px;
                        line-height: 32px;
                        padding: 18px 10px;
                    }
                }
            }
        }
    }
    .parallel-section {
        padding-left: 109px;
        padding-top: 100px;
        padding-bottom: 145px;
        @media (max-width: 1600px) {
            padding: 48px;
        }
        @media (max-width: 1024px) {
            padding: 48px 16px;
        }
        .outer-div {
            display: flex;
            justify-content: space-between;
            gap: 88px;
            @media (max-width: 1024px) {
                flex-direction: column-reverse;
            }
            .content-div {
                max-width: 947px;
                width: 100%;
                .heading-div {
                    font-family: Avenir;
                    font-size: 70px;
                    font-weight: 800;
                    line-height: 90px;
                    letter-spacing: 0em;
                    margin-bottom: 50px;
                    @media (max-width: 1600px) {
                        font-size: 48px;
                        line-height: 72px;
                    }
                    @media (max-width: 1024px) {
                        font-size: 36px;
                        line-height: 48px;
                    }
                    .colored-text {
                        color: #d75f04;
                    }
                }
                .text-div {
                    font-family: Avenir;
                    font-size: 30px;
                    font-weight: 400;
                    line-height: 45px;
                    letter-spacing: 0em;
                    @media (max-width: 1600px) {
                        font-size: 24px;
                        line-height: 32px;
                    }
                    @media (max-width: 1024px) {
                        font-size: 18px;
                        line-height: 32px;
                    }
                    .colored-text {
                        color: #d75f04;
                    }
                }
            }
            .img-div {
                max-width: 767px;
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
