.booknow-section {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.booknow-section .first-row {
  padding: 104px 95px;
  background-color: rgba(215, 95, 4, 0.1019607843);
}
@media (max-width: 1600px) {
  .booknow-section .first-row {
    padding: 72px 48px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .first-row {
    padding: 48px 24px;
  }
}
.booknow-section .first-row .heading-div {
  font-family: Avenir;
  font-size: 70px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  margin-bottom: 51px;
}
@media (max-width: 1600px) {
  .booknow-section .first-row .heading-div {
    font-size: 48px;
    line-height: 68px;
    margin-bottom: 32px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .first-row .heading-div {
    font-size: 36px;
    line-height: 48px;
  }
}
.booknow-section .first-row .heading-div .colored-text {
  color: #d75f04;
}
.booknow-section .first-row .parallel-desc {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .booknow-section .first-row .parallel-desc {
    flex-direction: column;
    gap: 24px;
  }
}
.booknow-section .first-row .parallel-desc .desc {
  font-family: Avenir;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 14px;
  max-width: 1007px;
  width: 100%;
}
@media (max-width: 1600px) {
  .booknow-section .first-row .parallel-desc .desc {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .first-row .parallel-desc .desc {
    font-size: 18px;
    line-height: 30px;
  }
}
.booknow-section .first-row .parallel-desc .need-help-booking {
  max-width: 285px;
  width: 100%;
  text-align: right;
}
@media (max-width: 768px) {
  .booknow-section .first-row .parallel-desc .need-help-booking {
    text-align: left;
  }
}
.booknow-section .first-row .parallel-desc .need-help-booking .text {
  font-family: Avenir;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 15px;
}
@media (max-width: 1600px) {
  .booknow-section .first-row .parallel-desc .need-help-booking .text {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .first-row .parallel-desc .need-help-booking .text {
    font-size: 18px;
    line-height: 28px;
  }
}
.booknow-section .first-row .parallel-desc .need-help-booking .call-us {
  font-family: Avenir;
  font-size: 25px;
  font-weight: 800;
  line-height: 39px;
  letter-spacing: 0em;
  color: #d75f04;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  gap: 16px;
}
@media (max-width: 1600px) {
  .booknow-section .first-row .parallel-desc .need-help-booking .call-us {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .first-row .parallel-desc .need-help-booking .call-us {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 768px) {
  .booknow-section .first-row .parallel-desc .need-help-booking .call-us {
    text-align: left;
    justify-content: flex-start;
  }
}
.booknow-section .first-row .parallel-desc .need-help-booking .call-us img {
  max-width: 25px;
  width: 100%;
}
.booknow-section .first-row .steps-outer {
  margin-top: 100px;
  display: flex;
  gap: 40px;
}
@media (max-width: 1600px) {
  .booknow-section .first-row .steps-outer {
    margin-top: 72px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .first-row .steps-outer {
    margin-top: 48px;
  }
}
@media (max-width: 768px) {
  .booknow-section .first-row .steps-outer {
    flex-direction: column;
  }
}
.booknow-section .first-row .steps-outer .steps {
  font-family: Avenir;
  font-size: 20px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 0.6);
  padding: 8px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .booknow-section .first-row .steps-outer .steps {
    font-size: 16px;
    line-height: 32px;
  }
}
.booknow-section .first-row .steps-outer .active-step {
  color: #d75f04;
  border-bottom: 3px solid #d75f04;
}
.booknow-section .first-row .select-form-div {
  margin-top: 75px;
}
.booknow-section .first-row .select-form-div .text {
  font-family: Avenir;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 1600px) {
  .booknow-section .first-row .select-form-div .text {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .first-row .select-form-div .text {
    font-size: 18px;
    line-height: 30px;
  }
}
.booknow-section .first-row .select-form-div .form-div {
  margin-top: 50px;
}
.booknow-section .first-row .select-form-div .form-div .parallel-form {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 1600px) {
  .booknow-section .first-row .select-form-div .form-div .parallel-form {
    gap: 24px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .first-row .select-form-div .form-div .parallel-form {
    gap: 16px;
  }
}
@media (max-width: 768px) {
  .booknow-section .first-row .select-form-div .form-div .parallel-form {
    flex-wrap: wrap;
  }
}
.booknow-section .first-row .select-form-div .form-div .parallel-form .input-div {
  width: 100%;
  background-color: #ffffff;
  padding-right: 30px;
  border-bottom: 1px solid black;
}
.booknow-section .first-row .select-form-div .form-div .parallel-form .input-div select {
  width: 100%;
  font-family: Avenir;
  font-size: 25px;
  font-weight: 300;
  line-height: 55px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 0.8);
  padding: 19px 0px 19px 30px;
  border: none;
  outline: none;
}
@media (max-width: 1600px) {
  .booknow-section .first-row .select-form-div .form-div .parallel-form .input-div select {
    font-size: 20px;
    line-height: 32px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .first-row .select-form-div .form-div .parallel-form .input-div select {
    font-size: 16px;
    line-height: 30px;
  }
}
.booknow-section .first-row .select-form-div .form-div .search-div {
  margin-top: 57px;
  padding: 14px 19px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .booknow-section .first-row .select-form-div .form-div .search-div {
    flex-direction: column;
  }
}
.booknow-section .first-row .select-form-div .form-div .search-div input {
  width: 70%;
  height: 100%;
  font-family: Avenir;
  font-size: 25px;
  font-weight: 300;
  line-height: 55px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 0.8);
  border: none;
  outline: none;
}
@media (max-width: 1600px) {
  .booknow-section .first-row .select-form-div .form-div .search-div input {
    font-size: 20px;
    line-height: 32px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .first-row .select-form-div .form-div .search-div input {
    font-size: 18px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .booknow-section .first-row .select-form-div .form-div .search-div input {
    width: 100%;
    border-bottom: 1px solid #232323;
    padding: 10px;
  }
}
.booknow-section .first-row .select-form-div .form-div .search-div .btn-outer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  gap: 30px;
  width: 100%;
}
@media (max-width: 1600px) {
  .booknow-section .first-row .select-form-div .form-div .search-div .btn-outer {
    gap: 16px;
  }
}
@media (max-width: 768px) {
  .booknow-section .first-row .select-form-div .form-div .search-div .btn-outer {
    margin-top: 10px;
    justify-content: space-between;
  }
}
.booknow-section .first-row .select-form-div .form-div .search-div .btn-outer .location-btn {
  width: 100%;
  max-width: 186px;
  font-family: Avenir;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  border: none;
  outline: none;
  color: #d75f04;
  background-color: transparent;
}
@media (max-width: 1600px) {
  .booknow-section .first-row .select-form-div .form-div .search-div .btn-outer .location-btn {
    font-size: 16px;
    line-height: 30px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .first-row .select-form-div .form-div .search-div .btn-outer .location-btn {
    font-size: 14px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .booknow-section .first-row .select-form-div .form-div .search-div .btn-outer .location-btn {
    text-align: left;
  }
}
.booknow-section .first-row .select-form-div .form-div .search-div .btn-outer .search-btn {
  max-width: 206px;
  width: 100%;
  background-color: #d75f04;
  color: white;
  border: none;
  outline: none;
  font-family: Avenir;
  font-size: 25px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  padding: 12px;
}
@media (max-width: 1600px) {
  .booknow-section .first-row .select-form-div .form-div .search-div .btn-outer .search-btn {
    font-size: 20px;
    line-height: 32px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .first-row .select-form-div .form-div .search-div .btn-outer .search-btn {
    font-size: 18px;
    line-height: 30px;
    padding: 6px;
  }
}
.booknow-section .first-row .select-form-div .thanks-msg-div {
  text-align: center;
}
.booknow-section .first-row .select-form-div .thanks-msg-div .large-text {
  font-family: Avenir;
  font-size: 50px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0em;
  color: #d75f04;
}
@media (max-width: 1600px) {
  .booknow-section .first-row .select-form-div .thanks-msg-div .large-text {
    font-size: 36px;
    line-height: 48px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .first-row .select-form-div .thanks-msg-div .large-text {
    font-size: 24px;
    line-height: 36px;
  }
}
.booknow-section .first-row .select-form-div .thanks-msg-div .small-text {
  font-family: Avenir;
  font-size: 30px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0em;
  color: #000000;
  margin-top: 8px;
  margin-bottom: 25px;
}
@media (max-width: 1600px) {
  .booknow-section .first-row .select-form-div .thanks-msg-div .small-text {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .first-row .select-form-div .thanks-msg-div .small-text {
    font-size: 18px;
    line-height: 28px;
  }
}
.booknow-section .first-row .select-form-div .thanks-msg-div .inputfeedback-div {
  margin-top: 52px;
}
.booknow-section .first-row .select-form-div .thanks-msg-div .inputfeedback-div input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  font-family: Avenir;
  font-size: 25px;
  font-weight: 300;
  line-height: 55px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 0.8);
  padding: 27px 50px 6px;
}
@media (max-width: 1600px) {
  .booknow-section .first-row .select-form-div .thanks-msg-div .inputfeedback-div input {
    font-size: 20px;
    line-height: 32px;
    padding: 16px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .first-row .select-form-div .thanks-msg-div .inputfeedback-div input {
    font-size: 18px;
    line-height: 28px;
  }
}
.booknow-section .additional-service-outer-div {
  background-color: #010506;
  color: white;
  padding: 0px 115px 0px;
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div {
    padding: 0 48px 72px 48px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div {
    padding: 0 24px 48px 24px;
  }
}
.booknow-section .additional-service-outer-div .outer-div {
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .booknow-section .additional-service-outer-div .outer-div {
    flex-direction: column;
    gap: 36px;
  }
}
.booknow-section .additional-service-outer-div .outer-div .booking-details-div {
  max-width: 784px;
  width: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.1019607843);
}
.booknow-section .additional-service-outer-div .outer-div .booking-details-div .heading-div {
  font-family: Avenir;
  font-size: 40px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0em;
  color: #d75f04;
  padding: 80px 100px 74px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
  border-right: 1px solid rgba(255, 255, 255, 0.1019607843);
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .booking-details-div .heading-div {
    padding: 42px 64px 42px;
    font-size: 32px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div .outer-div .booking-details-div .heading-div {
    padding: 24px 24px 24px;
    font-size: 24px;
  }
}
.booknow-section .additional-service-outer-div .outer-div .booking-details-div .list-outermost-div {
  padding: 58px 100px;
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .booking-details-div .list-outermost-div {
    padding: 32px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div .outer-div .booking-details-div .list-outermost-div {
    padding: 24px;
  }
}
.booknow-section .additional-service-outer-div .outer-div .booking-details-div .list-outermost-div .list-div {
  margin-bottom: 51px;
}
.booknow-section .additional-service-outer-div .outer-div .booking-details-div .list-outermost-div .list-div .label-div {
  font-family: Avenir;
  font-size: 25px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 10px;
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .booking-details-div .list-outermost-div .list-div .label-div {
    font-size: 22px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div .outer-div .booking-details-div .list-outermost-div .list-div .label-div {
    font-size: 18px;
    line-height: 30px;
  }
}
.booknow-section .additional-service-outer-div .outer-div .booking-details-div .list-outermost-div .list-div .text-div {
  font-family: Avenir;
  font-size: 35px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0em;
  color: white;
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .booking-details-div .list-outermost-div .list-div .text-div {
    font-size: 28px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div .outer-div .booking-details-div .list-outermost-div .list-div .text-div {
    font-size: 22px;
    line-height: 34px;
  }
}
.booknow-section .additional-service-outer-div .outer-div .booking-details-div .last-list-div {
  border-top: 1px solid rgba(255, 255, 255, 0.1019607843);
  padding: 71px 100px;
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .booking-details-div .last-list-div {
    padding: 32px 24px;
  }
}
.booknow-section .additional-service-outer-div .outer-div .booking-details-div .last-list-div .label-div {
  font-family: Avenir;
  font-size: 25px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 10px;
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .booking-details-div .last-list-div .label-div {
    font-size: 22px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div .outer-div .booking-details-div .last-list-div .label-div {
    font-size: 18px;
    line-height: 30px;
  }
}
.booknow-section .additional-service-outer-div .outer-div .booking-details-div .last-list-div .orange-text-div {
  font-family: Avenir;
  font-size: 45px;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: 0em;
  color: #d75f04;
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .booking-details-div .last-list-div .orange-text-div {
    font-size: 28px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div .outer-div .booking-details-div .last-list-div .orange-text-div {
    font-size: 22px;
    line-height: 34px;
  }
}
.booknow-section .additional-service-outer-div .outer-div .additional-services-div {
  max-width: 905px;
  width: 100%;
}
.booknow-section .additional-service-outer-div .outer-div .additional-services-div .heading-div {
  font-family: Avenir;
  font-size: 40px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0em;
  color: #d75f04;
  padding: 80px 100px 74px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .heading-div {
    padding: 42px 64px 42px;
    font-size: 32px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .heading-div {
    padding: 24px 24px 24px;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .heading-div {
    border-top: 1px solid rgba(255, 255, 255, 0.1019607843);
  }
}
.booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div {
  padding: 58px 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div {
    padding: 32px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div {
    padding: 24px;
  }
}
.booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div {
  margin-bottom: 43px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .checkbox-outer-div {
  display: flex;
  gap: 30px;
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .checkbox-outer-div {
    gap: 24px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .checkbox-outer-div {
    gap: 16px;
  }
}
.booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .checkbox-outer-div .checkbox-div input {
  width: 50px;
  height: 50px;
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .checkbox-outer-div .checkbox-div input {
    width: 34px;
    height: 34px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .checkbox-outer-div .checkbox-div input {
    width: 25px;
    height: 25px;
  }
}
.booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .checkbox-outer-div .text-outer {
  margin-top: -8px;
}
.booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .checkbox-outer-div .text-outer .large-text {
  font-family: Avenir;
  font-size: 35px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .checkbox-outer-div .text-outer .large-text {
    font-size: 28px;
    margin-top: -8px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .checkbox-outer-div .text-outer .large-text {
    font-size: 22px;
    line-height: 34px;
  }
}
.booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .checkbox-outer-div .text-outer .normal-text {
  font-family: Avenir;
  font-size: 25px;
  font-weight: 350;
  line-height: 39px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 4px;
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .checkbox-outer-div .text-outer .normal-text {
    font-size: 22px;
    margin-top: 0;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .checkbox-outer-div .text-outer .normal-text {
    font-size: 18px;
    line-height: 30px;
  }
}
.booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .people-outer {
  display: flex;
  align-items: flex-end;
  gap: 25px;
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .people-outer {
    gap: 16px;
  }
}
.booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .people-outer .text {
  font-family: Avenir;
  font-size: 20px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .people-outer .text {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .people-outer .text {
    font-size: 16px;
    line-height: 28px;
  }
}
.booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .people-outer .number {
  max-width: 91px;
  width: 100%;
}
.booknow-section .additional-service-outer-div .outer-div .additional-services-div .list-outermost-div .list-outer-div .people-outer .number input {
  width: 100%;
  font-family: Avenir;
  font-size: 25px;
  font-weight: 800;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  background-color: transparent;
}
.booknow-section .additional-service-outer-div .outer-div .additional-services-div .additional-last-div {
  padding: 70px 128px;
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .additional-last-div {
    padding: 32px 24px;
  }
}
.booknow-section .additional-service-outer-div .outer-div .additional-services-div .additional-last-div .outer {
  font-family: Avenir;
  font-size: 25px;
  font-weight: 350;
  line-height: 39px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .additional-last-div .outer {
    font-size: 22px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .additional-last-div .outer {
    font-size: 16px;
    line-height: 28px;
  }
}
.booknow-section .additional-service-outer-div .outer-div .additional-services-div .additional-last-div .last-outer {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.booknow-section .additional-service-outer-div .outer-div .additional-services-div .additional-last-div .last-outer .text {
  font-family: Avenir;
  font-size: 40px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0em;
  color: white;
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .additional-last-div .last-outer .text {
    font-size: 32px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .additional-last-div .last-outer .text {
    font-size: 24px;
    line-height: 38px;
  }
}
.booknow-section .additional-service-outer-div .outer-div .additional-services-div .additional-last-div .last-outer .price {
  font-family: Avenir;
  font-size: 45px;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: right;
  color: #d75f04;
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .additional-last-div .last-outer .price {
    font-size: 34px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div .outer-div .additional-services-div .additional-last-div .last-outer .price {
    font-size: 26px;
    line-height: 38px;
  }
}
.booknow-section .additional-service-outer-div .last-total-div {
  padding: 90px;
  font-family: Avenir;
  font-size: 50px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .last-total-div {
    font-size: 32px;
    padding: 48px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div .last-total-div {
    font-size: 24px;
    line-height: 38px;
    padding: 24px;
  }
}
.booknow-section .additional-service-outer-div .last-total-div span {
  font-family: Avenir;
  font-size: 50px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: 0em;
  color: #d75f04;
}
@media (max-width: 1600px) {
  .booknow-section .additional-service-outer-div .last-total-div span {
    font-size: 32px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .additional-service-outer-div .last-total-div span {
    font-size: 24px;
    line-height: 38px;
  }
}
.booknow-section .payment-process-outer-div {
  padding: 124px 115px 94px;
  background-color: rgba(215, 95, 4, 0.1019607843);
}
@media (max-width: 1600px) {
  .booknow-section .payment-process-outer-div {
    padding: 72px 48px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .payment-process-outer-div {
    padding: 48px 24px;
  }
}
.booknow-section .payment-process-outer-div .text {
  font-family: Avenir;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 110px;
}
@media (max-width: 1600px) {
  .booknow-section .payment-process-outer-div .text {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 48px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .payment-process-outer-div .text {
    font-size: 18px;
    line-height: 30px;
  }
}
.booknow-section .payment-process-outer-div .parallel-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}
@media (max-width: 768px) {
  .booknow-section .payment-process-outer-div .parallel-div {
    flex-direction: column;
    gap: 24px;
  }
}
.booknow-section .payment-process-outer-div .parallel-div .radio-btn-div {
  display: flex;
  gap: 30px;
  align-items: center;
}
@media (max-width: 1600px) {
  .booknow-section .payment-process-outer-div .parallel-div .radio-btn-div {
    gap: 16px;
  }
}
.booknow-section .payment-process-outer-div .parallel-div .radio-btn-div input {
  width: 30px;
  height: 30px;
}
.booknow-section .payment-process-outer-div .parallel-div .radio-btn-div input:checked {
  color: red;
  background-color: red;
}
.booknow-section .payment-process-outer-div .parallel-div .radio-btn-div label {
  font-family: Avenir;
  font-size: 40px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0em;
  color: #d75f04;
}
@media (max-width: 1600px) {
  .booknow-section .payment-process-outer-div .parallel-div .radio-btn-div label {
    font-size: 32px;
    line-height: 44px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .payment-process-outer-div .parallel-div .radio-btn-div label {
    font-size: 24px;
    line-height: 30px;
  }
}
.booknow-section .payment-process-outer-div .parallel-div .input-div {
  max-width: 795px;
  width: 100%;
}
.booknow-section .payment-process-outer-div .parallel-div .input-div input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  font-family: Avenir;
  font-size: 25px;
  font-weight: 300;
  line-height: 55px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 0.8);
  padding: 27px 50px 6px;
}
@media (max-width: 1600px) {
  .booknow-section .payment-process-outer-div .parallel-div .input-div input {
    font-size: 20px;
    line-height: 32px;
    padding: 16px 24px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .payment-process-outer-div .parallel-div .input-div input {
    font-size: 16px;
    line-height: 28px;
  }
}
.booknow-section .payment-process-outer-div .last-btn-div {
  display: flex;
  justify-content: end;
  margin-top: 123px;
}
.booknow-section .payment-process-outer-div .last-btn-div button {
  background-color: #d75f04;
  color: white;
  border: none;
  outline: none;
  font-family: Avenir;
  font-size: 30px;
  font-weight: 800;
  line-height: 47px;
  letter-spacing: 0em;
  padding: 24px;
  border-radius: 2px;
  max-width: 795px;
  width: 100%;
}
@media (max-width: 1600px) {
  .booknow-section .payment-process-outer-div .last-btn-div button {
    font-size: 24px;
    line-height: 34px;
    padding: 16px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .payment-process-outer-div .last-btn-div button {
    font-size: 20px;
    line-height: 30px;
  }
}
.booknow-section .payment-process-outer-div .last-btn-div button img {
  margin-left: 15px;
}
.booknow-section .search-result-outer {
  padding: 108px 95px 73px;
}
@media (max-width: 1600px) {
  .booknow-section .search-result-outer {
    padding: 72px 48px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .search-result-outer {
    padding: 48px 24px;
  }
}
.booknow-section .search-result-outer .text-outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .booknow-section .search-result-outer .text-outer {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
.booknow-section .search-result-outer .text-outer .text {
  font-family: Avenir;
  font-size: 40px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 0.5019607843);
}
@media (max-width: 1600px) {
  .booknow-section .search-result-outer .text-outer .text {
    font-size: 32px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .search-result-outer .text-outer .text {
    font-size: 20px;
  }
}
.booknow-section .search-result-outer .text-outer .text .large-text {
  color: #000;
}
.booknow-section .search-result-outer .text-outer .filter-btn-div button {
  background-color: transparent;
  font-family: Avenir;
  font-size: 25px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  padding: 11px 53px;
}
@media (max-width: 1600px) {
  .booknow-section .search-result-outer .text-outer .filter-btn-div button {
    font-size: 20px;
    padding: 8px 32px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .search-result-outer .text-outer .filter-btn-div button {
    font-size: 18px;
    line-height: 30px;
    padding: 8px 32px;
  }
}
.booknow-section .cards-and-map-div {
  display: flex;
  justify-content: space-between;
  padding-left: 95px;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto 100px;
}
@media (max-width: 1600px) {
  .booknow-section .cards-and-map-div {
    padding-left: 48px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .cards-and-map-div {
    padding-left: 24px;
    flex-direction: column-reverse;
    padding: 0 16px;
    gap: 32px;
  }
}
.booknow-section .cards-and-map-div .cards-col {
  max-width: 825px;
  width: 100%;
}
.booknow-section .cards-and-map-div .cards-col .room-card {
  width: 100%;
  margin-bottom: 50px;
}
.booknow-section .cards-and-map-div .cards-col .room-card .img-div {
  max-height: 350px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.booknow-section .cards-and-map-div .cards-col .room-card .img-div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.booknow-section .cards-and-map-div .cards-col .room-card .content-div {
  background-color: rgba(215, 95, 4, 0.1019607843);
  padding: 40px 48px;
}
@media (max-width: 1600px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div {
    padding: 32px 24px;
  }
}
@media (max-width: 1600px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div {
    padding: 32px 16px;
  }
}
.booknow-section .cards-and-map-div .cards-col .room-card .content-div .first-roww {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 68px;
}
@media (max-width: 1600px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div .first-roww {
    margin-bottom: 24px;
  }
}
.booknow-section .cards-and-map-div .cards-col .room-card .content-div .first-roww .name {
  font-family: Avenir;
  font-size: 50px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: 0em;
  color: #000;
}
@media (max-width: 1600px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div .first-roww .name {
    font-size: 36px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div .first-roww .name {
    font-size: 24px;
    line-height: 36px;
  }
}
.booknow-section .cards-and-map-div .cards-col .room-card .content-div .first-roww .rating {
  font-family: Avenir;
  font-size: 30px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: right;
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 1600px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div .first-roww .rating {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div .first-roww .rating {
    font-size: 18px;
    line-height: 30px;
  }
}
.booknow-section .cards-and-map-div .cards-col .room-card .content-div .second-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 31px;
}
.booknow-section .cards-and-map-div .cards-col .room-card .content-div .second-row .location {
  font-family: Avenir;
  font-size: 25px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 339px;
  width: 100%;
}
@media (max-width: 1600px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div .second-row .location {
    font-size: 20px;
    line-height: 32px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div .second-row .location {
    font-size: 16px;
    line-height: 28px;
  }
}
.booknow-section .cards-and-map-div .cards-col .room-card .content-div .second-row .price {
  color: #d75f04;
}
.booknow-section .cards-and-map-div .cards-col .room-card .content-div .second-row .price .rates {
  font-family: Avenir;
  font-size: 50px;
  font-weight: 900;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: right;
}
@media (max-width: 1600px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div .second-row .price .rates {
    font-size: 36px;
    line-height: 48px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div .second-row .price .rates {
    font-size: 16px;
    line-height: 28px;
  }
}
.booknow-section .cards-and-map-div .cards-col .room-card .content-div .second-row .price .rates .permonth {
  font-family: Avenir;
  font-size: 25px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: right;
}
@media (max-width: 1600px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div .second-row .price .rates .permonth {
    font-size: 20px;
    line-height: 32px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div .second-row .price .rates .permonth {
    font-size: 14px;
    line-height: 24px;
  }
}
.booknow-section .cards-and-map-div .cards-col .room-card .content-div .btn-div {
  width: 100%;
}
.booknow-section .cards-and-map-div .cards-col .room-card .content-div .btn-div button {
  width: 100%;
  background-color: #d75f04;
  color: white;
  padding: 23px;
  font-family: Avenir;
  font-size: 30px;
  font-weight: 800;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  outline: none;
}
@media (max-width: 1600px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div .btn-div button {
    font-size: 24px;
    line-height: 36px;
    padding: 16px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div .btn-div button {
    font-size: 18px;
    line-height: 28px;
  }
}
.booknow-section .cards-and-map-div .cards-col .room-card .content-div .disable-btn button {
  background-color: transparent;
  color: #000;
  border: 1px solid black;
}
.booknow-section .cards-and-map-div .cards-col .room-card .content-div .third-row {
  margin-top: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.booknow-section .cards-and-map-div .cards-col .room-card .content-div .third-row .learn {
  font-family: Avenir;
  font-size: 25px;
  font-weight: 350;
  line-height: 39px;
  letter-spacing: 0em;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 1600px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div .third-row .learn {
    font-size: 22px;
    line-height: 34px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div .third-row .learn {
    font-size: 16px;
    line-height: 28px;
  }
}
.booknow-section .cards-and-map-div .cards-col .room-card .content-div .third-row .call-div {
  color: rgba(0, 0, 0, 0.8);
  font-family: Avenir;
  font-size: 25px;
  font-weight: 800;
  line-height: 39px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 1600px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div .third-row .call-div {
    font-size: 22px;
    line-height: 34px;
  }
}
@media (max-width: 1024px) {
  .booknow-section .cards-and-map-div .cards-col .room-card .content-div .third-row .call-div {
    font-size: 16px;
    line-height: 28px;
  }
}
.booknow-section .cards-and-map-div .map-col {
  max-width: 959px;
  width: 100%;
}
.booknow-section .cards-and-map-div .map-col img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.booknow-section .show-more-btn {
  text-align: center;
  max-width: 332px;
  width: 100%;
  margin: 0 auto 40px;
}
.booknow-section .show-more-btn button {
  font-family: Avenir;
  font-size: 30px;
  font-weight: 800;
  line-height: 47px;
  letter-spacing: 0em;
  width: 100%;
  padding: 24px 75px;
  background-color: black;
  color: white;
}
@media (max-width: 1600px) {
  .booknow-section .show-more-btn button {
    font-size: 24px;
    line-height: 34px;
    padding: 12px 36px;
  }
}

input[type=radio] {
  accent-color: #232323;
}

input[type=checkbox] {
  accent-color: #ffffff;
}/*# sourceMappingURL=BookNow.css.map */