.customer-support-section {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    .contact-support-section {
        padding: 65px 100px;
        background-image: url("../assets/images/getting-support-bg.png");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media (max-width: 1600px) {
            padding: 72px 48px;
        }
        @media (max-width: 1024px) {
            padding: 48px 24px;
        }

        .heading-div {
            .headingss {
                font-family: Avenir;
                font-size: 60px;
                font-weight: 800;
                line-height: 25px;
                letter-spacing: 0em;
                text-align: center;
                color: #d75f04;
                @media (max-width: 1600px) {
                    font-size: 42px;
                    line-height: 54px;
                }
                @media (max-width: 1024px) {
                    font-size: 32px;
                    line-height: 44px;
                }
            }
            .textt {
                font-family: Avenir;
                font-size: 30px;
                font-weight: 400;
                line-height: 40px;
                letter-spacing: 0em;
                text-align: center;
                margin-top: 35px;
                color: white;
                @media (max-width: 1600px) {
                    font-size: 24px;
                    line-height: 36px;
                }
                @media (max-width: 1024px) {
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
        .support-outer-div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 88px;
            position: relative;
            @media (max-width: 1600px) {
                gap: 16px;
            }

            @media (max-width: 1024px) {
                flex-wrap: wrap;
                gap: 24px;
                justify-content: space-around;
            }
            &::before {
                content: "";
                width: 100%;
                height: 1px;
                background-color: #ffffff26;
                position: absolute;
                top: -64px;
            }
            .icon-and-text {
                display: flex;
                align-items: center;
                gap: 15px;
                @media (max-width: 1600px) {
                    gap: 8px;
                }

                .icon-div {
                    max-width: 33px;
                    width: 100%;
                    @media (max-width: 1600px) {
                        max-width: 25px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .text-div {
                    font-family: Avenir;
                    font-size: 25px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: white;
                    min-width: fit-content;
                    @media (max-width: 1600px) {
                        font-size: 20px;
                        line-height: 30px;
                    }
                    @media (max-width: 1024px) {
                        font-size: 18px;
                        line-height: 30px;
                    }
                }
            }
        }
    }

    .optimized-workstation-slider-section-without-bg {
        background-color: #d75f040d;
        padding-bottom: 236px;
        .heading-div {
            color: black;
        }
        .desc {
            color: #000000cc;
            max-width: 812px;
        }
    }
    .here-to-help-section {
        padding: 0px 95px;
        margin-top: -135px;
        @media (max-width: 1600px) {
            padding: 0px 48px;
        }
        @media (max-width: 1024px) {
            padding: 0px 24px;
        }
        .outer-div {
            background-color: #000000;
            padding: 76px 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 2px;
            @media (max-width: 1600px) {
                padding: 48px;
            }
            @media (max-width: 1024px) {
                padding: 24px;
                flex-direction: column;
            }
            .content-div {
                max-width: 788px;
                width: 100%;
                .heading-div {
                    font-family: Avenir;
                    font-size: 50px;
                    font-weight: 800;
                    line-height: 25px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #d75f04;
                    @media (max-width: 1600px) {
                        font-size: 36px;
                        line-height: 48px;
                    }
                    @media (max-width: 1024px) {
                        font-size: 28px;
                        line-height: 38px;
                        text-align: center;
                    }
                }
                .descc {
                    font-family: Avenir;
                    font-size: 30px;
                    font-weight: 350;
                    line-height: 40px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #ffffffcc;
                    margin-top: 30px;
                    @media (max-width: 1600px) {
                        font-size: 24px;
                        line-height: 36px;
                    }
                    @media (max-width: 1024px) {
                        font-size: 18px;
                        line-height: 30px;
                        text-align: center;
                        margin-bottom: 16px;
                        margin-top: 16px;
                    }
                }
            }
            .btn-div {
                max-width: 508px;
                width: 100%;
                @media (max-width: 1600px) {
                    max-width: 360px;
                }

                button {
                    font-family: Avenir;
                    font-size: 30px;
                    font-weight: 800;
                    line-height: 47px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #ffffff;
                    border: none;
                    outline: none;
                    width: 100%;
                    padding: 24px;
                    background-color: #d75f04;
                    @media (max-width: 1600px) {
                        font-size: 24px;
                        line-height: 36px;
                        padding: 12px;
                    }
                    @media (max-width: 1024px) {
                        font-size: 18px;
                        line-height: 30px;
                    }
                }
            }
        }
    }

    .top-articles-section {
        padding: 0 95px;
        margin: 100px 0;
        @media (max-width: 1600px) {
            padding: 0 48px;
        }
        @media (max-width: 1024px) {
            padding: 0 16px;
        }
        .heading-div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 41px;
            @media (max-width: 768px) {
                flex-direction: column;
            }
            .heading {
                font-family: Avenir;
                font-size: 60px;
                font-weight: 800;
                line-height: 94px;
                letter-spacing: 0em;
                text-align: left;
                @media (max-width: 1600px) {
                    font-size: 48px;
                    line-height: 72px;
                }
                @media (max-width: 1024px) {
                    font-size: 36px;
                    line-height: 48px;
                    flex-direction: column;
                }
            }
            .linkk {
                a {
                    font-family: Avenir;
                    font-size: 25px;
                    font-weight: 800;
                    line-height: 25px;
                    letter-spacing: 0em;
                    text-align: right;
                    color: #d75f04;
                    @media (max-width: 1600px) {
                        font-size: 24px;
                        line-height: 32px;
                    }
                    @media (max-width: 1024px) {
                        font-size: 18px;
                        line-height: 32px;
                    }
                }
            }
        }
        .card-outer-div {
            display: flex;
            gap: 34px;
            justify-content: space-between;
            margin-bottom: 80px;
            @media (max-width: 1024px) {
                flex-wrap: wrap;
                justify-content: center;
            }
            .cardss {
                width: calc(32% - 1px);
                margin-bottom: 60px;
                @media (max-width: 1024px) {
                    width: calc(48% - 1px);
                }
                @media (max-width: 768px) {
                    width: calc(73% - 1px);
                }
                @media (max-width: 575px) {
                    width: calc(93% - 1px);
                    margin-bottom: 16px;
                }
                .img-div {
                    max-width: 554px;
                    max-height: 462px;
                    height: 100%;
                    width: 100%;
                    @media (max-width: 1600px) {
                        max-height: 390px;
                    }
                    @media (max-width: 1024px) {
                        font-size: 18px;
                        line-height: 32px;
                        max-height: 250px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .heading {
                    padding: 30px 20px;
                    font-family: Avenir;
                    font-size: 30px;
                    font-weight: 800;
                    line-height: 35px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000cc;
                    @media (max-width: 1600px) {
                        font-size: 24px;
                        line-height: 32px;
                        padding: 30px 16px;
                    }
                    @media (max-width: 1024px) {
                        font-size: 18px;
                        line-height: 32px;
                    }
                }
            }
            .get-in-touch {
                max-width: 554px;
                max-height: 461px;
                width: 100%;
                height: 100%;
                background-color: #d75f04;
                padding: 62px 67px;
                @media (max-width: 1600px) {
                    padding: 48px 32px;
                    width: calc(32% - 1px);
                }
                @media (max-width: 1024px) {
                    width: calc(48% - 1px);
                }
                @media (max-width: 768px) {
                    width: calc(98% - 1px);
                }
                .main-heading {
                    font-family: Avenir;
                    font-size: 50px;
                    font-weight: 800;
                    line-height: 53px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #ffffff;
                    @media (max-width: 1600px) {
                        font-size: 40px;
                        line-height: 52px;
                    }
                    @media (max-width: 1024px) {
                        font-size: 32px;
                        line-height: 44px;
                    }
                }
                .desc {
                    margin-top: 25px;
                    margin-bottom: 35px;
                    font-family: Avenir;
                    font-size: 25px;
                    font-weight: 350;
                    line-height: 34px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #ffffffcc;
                    @media (max-width: 1600px) {
                        font-size: 20px;
                        line-height: 32px;
                    }
                    @media (max-width: 1024px) {
                        font-size: 18px;
                        line-height: 32px;
                    }
                }
                button {
                    font-family: Avenir;
                    font-size: 30px;
                    font-weight: 800;
                    line-height: 47px;
                    letter-spacing: 0em;
                    color: #000000;
                    background-color: white;
                    border-radius: 2px;
                    padding: 24px 24px 19px;
                    max-width: 420px;
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                    border: none;
                    outline: none;
                    @media (max-width: 1600px) {
                        font-size: 22px;
                        line-height: 32px;
                        padding: 12px;
                    }
                    @media (max-width: 1024px) {
                        font-size: 18px;
                        line-height: 32px;
                    }
                    img {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .faq-section {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto 100px;
        padding: 0 95px;
        @media (max-width: 1600px) {
            padding: 0px 48px;
        }
        @media (max-width: 1024px) {
            padding: 0px 24px;
        }
        .heading-outer {
            padding: 68px 140px;
            background-color: #d75f040d;
            margin-bottom: 70px;
            @media (max-width: 1600px) {
                padding: 72px 48px;
            }
            @media (max-width: 1024px) {
                padding: 48px 24px;
            }
            .heading {
                font-family: Avenir;
                font-size: 60px;
                font-weight: 800;
                line-height: 94px;
                letter-spacing: 0em;
                text-align: center;
                color: #000;
                @media (max-width: 1600px) {
                    font-size: 48px;
                    line-height: 68px;
                }
                @media (max-width: 1024px) {
                    font-size: 36px;
                    line-height: 48px;
                }
                .colored-text {
                    color: #d75f04;
                }
            }
            .desc {
                margin-top: 20px;
                padding: 0 98px;
                font-family: Avenir;
                font-size: 30px;
                font-weight: 350;
                line-height: 40px;
                letter-spacing: 0em;
                text-align: center;
                color: #000000;
                @media (max-width: 1600px) {
                    font-size: 24px;
                    line-height: 36px;
                    padding: 0 36px;
                }
                @media (max-width: 1024px) {
                    font-size: 18px;
                    line-height: 30px;
                    padding: 0 16px;
                }
            }
        }
        .faq-outer {
            .accordion-item {
                border: none;
                border-bottom: 1px solid #0000000d;
            }
            .accordion-button {
                padding: 50px;
                box-shadow: none;
                font-family: Avenir;
                font-size: 35px;
                font-weight: 400;
                line-height: 35px;
                letter-spacing: 0em;
                text-align: left;
                @media (max-width: 1600px) {
                    font-size: 36px;
                    line-height: 46px;
                    padding: 24px;
                }
                @media (max-width: 1024px) {
                    font-size: 28px;
                    line-height: 30px;
                    padding: 24px 16px;
                }
                @media (max-width: 768px) {
                    font-size: 20px;
                    line-height: 30px;
                }
            }
            .accordion-body {
                font-family: Avenir;
                font-size: 30px;
                font-weight: 350;
                line-height: 35px;
                letter-spacing: 0em;
                padding: 0 50px 50px;
                @media (max-width: 1600px) {
                    font-size: 24px;
                    line-height: 36px;
                    padding: 0 24px 36px;
                }
                @media (max-width: 1024px) {
                    font-size: 18px;
                    line-height: 30px;
                    padding: 0 16px 36px;
                }
                @media (max-width: 768px) {
                    font-size: 16px;
                    line-height: 26px;
                }
            }
            .accordion-button:not(.collapsed) {
                background-color: white;
            }
        }
    }
}
