.search-overlay-section {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.search-overlay-section .overlay-banner-section {
  background-color: #010506;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  padding: 208px 32px 192px;
}
@media (max-width: 1024px) {
  .search-overlay-section .overlay-banner-section {
    padding: 72px 24px;
  }
}
.search-overlay-section .overlay-banner-section .search-location-div {
  padding: 77px 79px 80px;
  max-width: 1345px;
  width: 100%;
  background: rgba(1, 5, 6, 0.8980392157);
  margin: 0 auto;
  border-radius: 2px;
}
@media (max-width: 1600px) {
  .search-overlay-section .overlay-banner-section .search-location-div {
    padding: 40px 60px 50px;
    max-width: 1200px;
  }
}
@media (max-width: 1024px) {
  .search-overlay-section .overlay-banner-section .search-location-div {
    padding: 50px 16px;
  }
}
.search-overlay-section .overlay-banner-section .search-location-div .heading {
  font-family: Avenir;
  font-size: 60px;
  font-weight: 900;
  line-height: 95px;
  letter-spacing: 0em;
  color: white;
  margin-bottom: 25px;
  text-align: center;
}
@media (max-width: 1600px) {
  .search-overlay-section .overlay-banner-section .search-location-div .heading {
    font-size: 48px;
    line-height: 68px;
  }
}
@media (max-width: 1024px) {
  .search-overlay-section .overlay-banner-section .search-location-div .heading {
    font-size: 36px;
    line-height: 48px;
  }
}
.search-overlay-section .overlay-banner-section .search-location-div .heading .colored-text {
  font-family: Avenir;
  font-size: 60px;
  font-weight: 800;
  line-height: 94px;
  letter-spacing: 0em;
  color: #d75f04;
}
@media (max-width: 1600px) {
  .search-overlay-section .overlay-banner-section .search-location-div .heading .colored-text {
    font-size: 48px;
    line-height: 68px;
  }
}
@media (max-width: 1024px) {
  .search-overlay-section .overlay-banner-section .search-location-div .heading .colored-text {
    font-size: 36px;
    line-height: 48px;
  }
}
.search-overlay-section .overlay-banner-section .search-location-div .search-div {
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  position: relative;
  margin-bottom: 40px;
}
.search-overlay-section .overlay-banner-section .search-location-div .search-div .near-me-btn {
  position: absolute;
  max-width: 127px;
  width: 100%;
  left: 20px;
  top: 16px;
  border: none;
  outline: none;
}
@media (max-width: 1024px) {
  .search-overlay-section .overlay-banner-section .search-location-div .search-div .near-me-btn {
    max-width: 100px;
    top: 10px;
  }
}
@media (max-width: 575px) {
  .search-overlay-section .overlay-banner-section .search-location-div .search-div .near-me-btn {
    max-width: 54px;
    top: 6px;
    left: 6px;
  }
}
.search-overlay-section .overlay-banner-section .search-location-div .search-div .near-me-btn img {
  width: 100%;
}
.search-overlay-section .overlay-banner-section .search-location-div .search-div .search-input {
  outline: none;
  padding: 20px;
  padding-left: 165px;
  flex: 1;
  font-family: Avenir;
  font-size: 25px;
  font-weight: 800;
  line-height: 39px;
  letter-spacing: 0em;
}
@media (max-width: 1600px) {
  .search-overlay-section .overlay-banner-section .search-location-div .search-div .search-input {
    font-size: 20px;
    line-height: 32px;
  }
}
@media (max-width: 1024px) {
  .search-overlay-section .overlay-banner-section .search-location-div .search-div .search-input {
    padding: 12px;
    padding-left: 135px;
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .search-overlay-section .overlay-banner-section .search-location-div .search-div .search-input {
    padding: 4px;
    padding-left: 65px;
    font-size: 12px;
    line-height: 25px;
  }
}
.search-overlay-section .overlay-banner-section .search-location-div .search-div .search-input::-moz-placeholder {
  color: rgb(198, 198, 198);
}
.search-overlay-section .overlay-banner-section .search-location-div .search-div .search-input::placeholder {
  color: rgb(198, 198, 198);
}
.search-overlay-section .overlay-banner-section .search-location-div .search-div .search-button {
  max-width: 198px;
  width: 100%;
  font-family: Avenir;
  font-size: 30px;
  font-weight: 800;
  line-height: 47px;
  letter-spacing: 0em;
  border: none;
  outline: none;
  background-color: #d75f04;
  color: white;
}
@media (max-width: 1600px) {
  .search-overlay-section .overlay-banner-section .search-location-div .search-div .search-button {
    font-size: 20px;
    line-height: 32px;
  }
}
@media (max-width: 575px) {
  .search-overlay-section .overlay-banner-section .search-location-div .search-div .search-button {
    font-size: 12px;
    line-height: 24px;
  }
}
.search-overlay-section .overlay-banner-section .search-location-div .desc {
  font-family: Avenir;
  font-size: 30px;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
.search-overlay-section .overlay-banner-section .search-location-div .tags-outer {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}
@media (max-width: 1600px) {
  .search-overlay-section .overlay-banner-section .search-location-div .tags-outer {
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .search-overlay-section .overlay-banner-section .search-location-div .tags-outer {
    flex-wrap: wrap;
  }
}
.search-overlay-section .overlay-banner-section .search-location-div .tags-outer .tag {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  font-family: Avenir;
  font-size: 25px;
  font-weight: 350;
  line-height: 39px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 0.3019607843);
  background-color: transparent;
  text-align: center;
  padding: 10px 23px;
  border-radius: 2px;
}
@media (max-width: 1600px) {
  .search-overlay-section .overlay-banner-section .search-location-div .tags-outer .tag {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .search-overlay-section .overlay-banner-section .search-location-div .tags-outer .tag {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .search-overlay-section .overlay-banner-section .search-location-div .tags-outer .tag {
    font-size: 12px;
    line-height: 24px;
    padding: 6px 12px;
  }
}
.search-overlay-section .overlay-banner-section .search-location-div .tags-outer .add-icon {
  cursor: pointer;
}
@media (max-width: 575px) {
  .search-overlay-section .overlay-banner-section .search-location-div .tags-outer .add-icon {
    width: 100%;
    text-align: center;
    max-width: 40px;
    height: 40px;
  }
  .search-overlay-section .overlay-banner-section .search-location-div .tags-outer .add-icon img {
    width: 100%;
    height: 100%;
  }
}

.launch-modal-btn {
  margin: 100px 24px;
}

.modal-close-btn {
  position: absolute;
  right: 100px;
  top: 100px;
  z-index: 9;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
@media (max-width: 1600px) {
  .modal-close-btn {
    right: 48px;
    top: 48px;
  }
}
@media (max-width: 1024px) {
  .modal-close-btn {
    right: 24px;
    top: 24px;
  }
}/*# sourceMappingURL=SearchOverlay.css.map */