.footer-section {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: #010506;
    padding: 143px 135px 284px;
    @media (max-width: 1600px) {
        padding: 100px 48px 100px;
    }
    @media (max-width: 1024px) {
        padding: 48px 24px 48px;
    }

    .logo-div {
        max-width: 407px;
        width: 100%;
        margin-bottom: 125px;
        @media (max-width: 1600px) {
            max-width: 300px;
            margin-bottom: 80px;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    .footer-outer {
        display: flex;
        align-items: flex-start;
        // gap: 327px;
        justify-content: space-between;
        @media (max-width: 1024px) {
            flex-direction: column;
            gap: 48px;
        }
        .first-div {
            .headers {
                font-family: Avenir;
                font-size: 50px;
                font-weight: 800;
                line-height: 55px;
                letter-spacing: 0em;
                color: white;
                margin-bottom: 32px;
                @media (max-width: 1600px) {
                    font-size: 38px;
                    line-height: 48px;
                }
            }
            .app-store-outer {
                display: flex;
                gap: 20px;
                button {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    max-width: 242px;
                    width: 100%;
                    @media (max-width: 1600px) {
                        max-width: 160px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .second-div {
            display: flex;
            align-items: flex-start;
            gap: 64px;
            @media (max-width: 1024px) {
                flex-wrap: wrap;
            }
            .list-div {
                .heading-div {
                    font-family: Avenir;
                    font-size: 30px;
                    font-weight: 800;
                    line-height: 45px;
                    letter-spacing: 0em;
                    color: white;
                    margin-bottom: 25px;
                    @media (max-width: 1600px) {
                        font-size: 24px;
                        line-height: 34px;
                    }
                }
                .inner-list {
                    .listname {
                        margin-bottom: 5px;
                        a {
                            font-family: Avenir;
                            font-size: 22px;
                            font-weight: 400;
                            line-height: 45px;
                            letter-spacing: 0em;
                            color: #ffffffb2;
                            text-decoration: none;
                            @media (max-width: 1600px) {
                                font-size: 18px;
                                line-height: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}
