 /* In your CSS file or component styles */
 @font-face {
   font-family: 'Avenir';
   /* Give your font a name */
   src: url('./assets/fonts/AvenirLTStd-Roman.otf') format('opentype');
   font-weight: normal;
   font-style: normal;
 }

 /* Apply the font to an element */
 body {
   font-family: 'Avenir', sans-serif !important;
 }

 * {
   font-family: 'Avenir', sans-serif !important;
 }